<div>
    <h1 class="banner">Administrator Metrics Portal</h1>
    <div ng-repeat="songs in songs track by $index">
        <p>{{songs}}</p>
    </div>

    <div class="chart1" ng-controller="Metrics">
        <h2 class="charttext">Songs Played by Name</h2>
        <nvd3 options="barOptions" data="barData"></nvd3>
    </div>
    <div class="chart2" ng-controller="Metrics">
        <h2 class="charttext">Division by Name</h2>
        <nvd3 options="pieOptions" data="pieData"></nvd3>
    </div>
</div>
